# Variables de entorno para Mailgun
# NO subir este archivo con valores reales a Git

MAILGUN_API_KEY=your_mailgun_api_key_here
MAILGUN_DOMAIN=your_domain_here

# Ejemplo:
# MAILGUN_API_KEY=da75815501e47e1dbea988c2bfd65728-f6d80573-badd1e26
# MAILGUN_DOMAIN=sandbox8c39856aa66e44aeb317a40bb447c6f1.mailgun.org
